@reference "../../../../styles.scss";
:host {
  display: inline-flex;
}

:host(.ui-btn) {
  @apply inline-flex items-center justify-center gap-2 relative overflow-hidden top-2;
  @apply font-medium tracking-wide;
  @apply border rounded-lg;
  @apply transition-all duration-200 ease-out;
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  @apply ring-offset-[--bg-primary];
  &:active:not(:disabled) {
    transform: scale(0.96);
  }

  &:disabled {
    @apply opacity-50 cursor-not-allowed grayscale-[0.5];
    transform: none;
  }
}

:host(.size-small) {
  @apply px-[10px] py-[4px] text-xs;
}

:host(.size-medium) {
  @apply px-[14px] py-[8px] text-sm;
}

:host(.size-large) {
  @apply px-[20px] py-[10px] text-base;
}

:host(.btn-icon-only) {
  @apply px-0;
}

:host(.btn-icon-only.size-small) {
  @apply size-[26px];
}

:host(.btn-icon-only.size-medium) {
  @apply size-[38px];
}

:host(.btn-icon-only.size-large) {
  @apply size-[46px];
}

:host(.is-rounded) {
  @apply rounded-full;
}
