.popup-menu {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95) translateY(4px);
  transform-origin: bottom left;
  transition:
    opacity 150ms ease-out,
    transform 150ms ease-out,
    visibility 150ms;

  &--open {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateY(0);
    transition:
      opacity 150ms ease-out,
      transform 150ms ease-out,
      visibility 0ms;
  }
}
