<div class="min-h-screen bg-bg-primary text-text-primary flex flex-col relative">
  <div class="fixed right-5 top-5 z-20">
    <app-theme-switcher></app-theme-switcher>
  </div>

  @if (isMobile()) {
  <button
    appButton
    class="fixed left-4 top-4 z-10 shadow-md"
    severity="primary"
    variant="raised"
    [rounded]="true"
    [icon]="Icons.Menu"
    [iconOnly]="true"
    (click)="toggleSidebar()"
    [attr.aria-expanded]="!isSidebarCollapsed()"
    [attr.aria-controls]="'app-sidebar'"
    aria-label="Toggle sidebar"
  ></button>
  } @if (isMobile() && !isSidebarCollapsed()) {
  <div class="fixed inset-0 z-20" (click)="toggleSidebar()"></div>
  }

  <app-sidebar
    id="app-sidebar"
    class="fixed top-0 left-0 z-30 h-full shadow-xl lg:shadow-none"
    [collapsed]="isSidebarCollapsed()"
    (toggleCollapsed)="toggleSidebar()"
    [class.-translate-x-full]="isMobile() && isSidebarCollapsed()"
    [class.translate-x-0]="isMobile() && !isSidebarCollapsed()"
  ></app-sidebar>
  <main
    class="flex-1 min-h-screen flex flex-col transition-[margin] duration-300 ease-in-out relative z-0"
    [ngClass]="contentMarginClass()"
  >
    @if (showWelcome()) {
    <div class="flex flex-col items-center justify-center pt-20 pb-10">
      <h1 class="text-4xl font-bold text-[var(--color-primary)]">Hello World!</h1>
    </div>
    }

    <div class="px-6 pb-6">
      <router-outlet />
    </div>
  </main>
</div>
